<header class="bg-dark">
    <nav class="navbar navbar-expand-lg container navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand section-title text-light font-weight-bold" href="/">(2FA)</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#">Disabled</a>
                </li>
            </ul>
        </div>
        <a type="button" class="btn btn-info d-none d-lg-block mx-1" href="/profile">Profile</a>
        <a type="button" class="btn btn-danger d-none d-lg-block mx-1" href="/logout">Logout</a>
    </nav>
</header>